{% extends "inicio/base.html" %}

{% block title %}Servicios - PAEC{% endblock %}

{% block header %}Nuestros Servicios{% endblock %}

{% block content %}
<p>En PAEC ofrecemos una variedad de servicios orientados a la renovación y crecimiento personal:</p>
<ul>
  <li>Asesoría educativa</li>
  <li>Talleres de desarrollo personal</li>
  <li>Proyectos ecológicos y de sostenibilidad</li>
  <li>Actividades culturales y recreativas</li>
</ul>
<img src="https://i.pinimg.com/originals/2b/79/4e/2b794ea74b872e0d01c6d35d89e5ecf2.jpg" alt="Servicios PAEC">
{% endblock %}
